body{
    background-color: #222222;
    color: white;
}

* {box-sizing: border-box}

h1{
    color: #4C9EBF;
    text-align: center;
}

.logo {
  display: block;
  margin: 0px auto;
  padding-bottom: 20px;


}

.box {
  border: 1px solid #4C9EBF;
  width: 80%;
  margin: 20px auto;
}


#chartdiv {
	width: 100%;
	height: 500px;
}


#timer {
  text-align: right;
  font-size: 40px;
  margin: 0px auto;
  padding: 50px;
  color: white;
  display: inline-block;

}

.container3 {
  width: 90%;
  background-color: #ddd;
}


.bar {
  text-align: center;
  padding-right: auto;
  line-height: 30px;
  color: white;
}

.distancet {
 width: 30%;
 background-color: #4C9EBF;
}

@media only screen
and (min-width:312px)
and (max-width:599px) {
  .main {
    display: flex;
    flex-direction:row;
    background-color: gray;
}

  }


@media only screen
  and (min-width:600px)
  and (max-width:1023px) {
    .main {
      display: flex;
      flex-direction:column;
  }
  body{
    background: #A9A9A9;
  }

  h1{
    color:black;
  }

    }


@media only screen
    and (min-width:1024px) {
      .main {
        display: flex;
        flex-direction:row;
    }
    .bar{
      width: 50%;
    }
      }
